<div class="main-container">
  <h2 class="header-section">YAY! It's BOGO</h2>

  <div class="mid-section">
    <div class="option-list">
      <ng-container *ngIf="!option1Active; else option1Clicked">
        <div class="option" (click)="activateOption('option1')">
          <div class="left-section">
            <p>30% Off</p>
          </div>
          <div class="right-section">
            <div class="radio-option">
              <label class="radio-input">
                <input type="radio" name="option1"/>
                <span class="radio-check"></span>
              </label>
              <div class="offer-text">
                <p>Buy 1 Get 2</p>
                <p>{{ 18 | currency:'USD' }} USD</p>
              </div>
            </div>
            <p class="right-section-text">Most popular</p>
          </div>
        </div>
      </ng-container>
      <ng-template #option1Clicked>
        <div class="option-activated">
          <div class="radio-option">
            <label class="radio-input">
              <input type="radio" name="option1" [checked]="option1Active"/>
              <span class="radio-check"></span>
            </label>
            <div class="offer-text">
              <p>Buy 1 Get 2 <span class="offer-rate">30% Off</span></p>
              <p>{{ 18 | currency:'USD' }} USD <span class="prev-cost">{{ 10 | currency: 'USD'}}</span></p>
            </div>
          </div>
          <form class="pref-section">
            <h6></h6>
            <h6>Size</h6>
            <h6>Colour</h6>
            <h6>#1</h6>
            <select name="" id="">
              <option value="volvo">S</option>
            </select>
            <select name="" id="">
              <option value="volvo">Colour</option>
            </select>
            <h6>#2</h6>
            <select name="" id="">
              <option value="volvo">S</option>
            </select>
            <select name="" id="">
              <option value="volvo">Colour</option>
            </select>
          </form>
        </div>
      </ng-template>
    </div>
    <div class="mid-section-info">
      <p>Free Delivery</p>
      <p>Total: {{ totalCost | currency:'USD' }} USD</p>
    </div>
  </div>

  <div class="footer-section">

    <button class="add-to-cart-button">
      <i class="fa-solid fa-plus plus-icon"></i>
      <p>Add to Cart</p>
    </button>

    <p class="footer-section-text">Powered by <span>Pumper</span></p>
  </div>
</div>