$theme-pink: #FF6B82;
$white-color: #FFFFFF;

.main-container {
    background-color: #ffffff;
    padding: 28px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    width: fit-content;

    .header-section {
        font-weight: 700;
        color: $theme-pink;
    }

    .mid-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
        width: 100%;

        .option-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
            width: 100%;

            .radio-input input[type="radio"] {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            .radio-input .radio-check {
                position: relative;
                height: 16px;
                width: 16px;
                border: 1px solid $theme-pink;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
            }

            .radio-input input[type="radio"]:checked + .radio-check::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 10px;
                height: 10px;
                background-color: $theme-pink;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }

            .radio-input {
                display: inline-flex;
                align-items: center;
                cursor: pointer;
            }

            .radio-option {
                display: flex;
                flex-direction: row;
                gap: 18px;
                align-items: center;

                .offer-text {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    font-size: 14px;

                    .offer-rate {
                        background-color: $theme-pink;
                        border-radius: 2px;
                        color: $white-color;
                        line-height: 14.5px;
                        padding: 0 4px;
                    }

                    p:nth-child(2) {
                        font-weight: 600;

                        .prev-cost {
                            text-decoration: line-through;
                            opacity: 42%;
                            font-size: 10px;
                        }
                    }
                }
            }

            .option {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                height: fit-content;
                box-shadow: 0px 0px 4px 0px #A7A7A740;
                border-radius: 12px;
                cursor: pointer;

                .left-section {
                    padding: 18px;
                    background-color: $theme-pink;
                    color: $white-color;
                    width: min-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 12px 0 0 12px;
                    position: relative;
                    
                    &:after {
                        content: '';
                        position: absolute;
                        height: 2px;
                        width: 100%;
                    }
                      
                    &:after {
                        right: -38px;
                        rotate: 90deg;
                        background: radial-gradient(circle, transparent, transparent 50%, $white-color 50%, $white-color 100% ) -1px -3px / 16px 6px repeat-x,
                    }

                    p {
                        font-size: 18px;
                        line-height: 20px;
                        font-weight: 600;
                        text-align: center;
                    }
                }

                .right-section {
                    width: 100%;
                    padding: 0px 14px;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .right-section-text {
                        color: $theme-pink;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }

            .option-activated {
                border: 1px solid $theme-pink;
                background-color: #FFF9FA;
                width: 100%;
                border-radius: 12px;
                padding: 20px 0px 30px 20px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                .pref-section {
                    padding-left: 20px;
                    display: grid;
                    grid-template-columns: min-content repeat(2, 75px);
                    grid-template-rows: min-content repeat(2, 25px);
                    gap: 7px;
                    align-items: center;

                    h6 {
                        font-weight: 400;
                        font-family: inherit;
                    }
                    
                    select {
                        width: 100%;
                        height: 100%;
                        font-family: inherit;
                        font-size: 12px;
                        font-weight: 400;
                        border: 0.9px solid #D9D9D9;
                        border-radius: 2px;
                        pointer-events: none;
                    }

                    select:focus-visible, select:focus, select:hover {
                        outline: none;
                    }
                }
            }
        }

        .mid-section-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 14px;

            p:nth-child(1) {
                color: $theme-pink;
                font-weight: 500;
            }

            p:nth-child(2) {
                font-weight: 500;
            }
        }
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;

        .add-to-cart-button {
            border: none;
            outline: none;
            color: $white-color;
            background-color: $theme-pink;
            border-radius: 4px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding: 12.5px 125px;
            font-family: inherit;
            
            p {
                font-size: 12px;
                font-weight: 500;
            }

            i {
                font-size: 16px;
            }
        }

        .footer-section-text {
            font-size: 14px;
            color: #D4D4D4;

            span {
                color: #FF2C31;
                font-weight: 600;
            }
        }
    }
}