@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #333;
    background-color: #f6f6f7;
    height: 100%;
    width: 100%;
}
  
/* Ensure all elements inherit box-sizing to include padding and border in element’s total width and height */
*, *::before, *::after {
    box-sizing: inherit;
}
  
/* Make the form full-screen centered */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Center the form vertically and horizontally */
    padding: 20px; /* Add some padding for better spacing */
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
  
/* Improve text readability and layout on smaller screens */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}
  